@using StoreSWP.ViewsModel;
@model StoreViewModel

@*

For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Navigation";

}

<h1>Store</h1>
@if (TempData.ContainsKey("NotFoundMessage"))
{
    <div class="alert alert-info">@TempData["NotFoundMessage"]</div>
}

<link rel="stylesheet" href="~/css/Store.css" asp-append-version="true" />


<section class="container mt-4">

    <div class="row">
        <div class="col-lg-3">
            <!-- Sidebar -->
            <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <!-- sort type -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button text-dark bg-light"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                Sort
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                            <div class="accordion-body">
                                <span>Name </span>
                                <button>
                                    <a asp-controller="Store" asp-action="SortSpeakerByNameDesc"><i class="bi bi-sort-alpha-down-alt " style="font-size: 20px"></i></a>
                                </button>
                                <button>
                                    <a asp-controller="Store" asp-action="SortSpeakerByNameIsc"><i class="bi bi-sort-alpha-down " style="font-size: 20px"></i></a>
                                </button>
                            </div>
                            <div class="accordion-body">
                                <span>Price </span>
                                <button>
                                    <a asp-controller="Store" asp-action="SortSpeakerByPriceDesc"><i class="bi bi-sort-numeric-down-alt" style="font-size: 20px"></i></a>
                                </button>
                                <button>
                                    <a asp-controller="Store" asp-action="SortSpeakerByPriceIsc"><i class="bi bi-sort-numeric-down" style="font-size: 20px"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- brand -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button text-dark bg-light"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                Brands
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                            <div class="accordion-body">
                                <div>
                                    <!-- Checked checkbox -->
                                    @foreach (var brands in Model.Brands)
                                    {
                                        <div class="form-check">
                                            <a asp-controller="Store" asp-action="GetSpeakerByBrand" asp-route-id="@brands.Id" class="form-check-label" for="flexCheckChecked1">@brands.Name</a>
                                        </div>
                                    }
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Price -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button text-dark bg-light"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFour"
                                    aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFour">
                                Price
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
                            <div class="accordion-body" >
                                <form asp-controller="Store" asp-action="SortByPriceMinToMax" method="get">
                                    <div class="priceinput" >
                                        <input type="number" name="minPrice" class="price-input-form" placeholder="Min Price">&nbsp;&nbsp;&nbsp;
                                        <input type="number" name="maxPrice" class="price-input-form" placeholder="Max Price" />                      
                                    </div>
                                    <button type="submit" class="sort-button">Sort</button>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <main class="col-lg-9">
            @if (TempData.ContainsKey("NotFoundInRange"))
            {
                <div class="alert alert-info">@TempData["NotFoundInRange"]</div>
            }
            <div class="row">
                @foreach (var speaker in Model.Speakers)
                {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="@speaker.Img" class="card-img-top" alt="Product @speaker.Id">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">
                                        <a asp-controller="Store" asp-action="DetailSpeaker" asp-route-id="@speaker.Id" class="text-decoration-none" style="color: black  ">@speaker.Name</a>
                                    </h5>
                                    <p class="card-text ellipsis-text" style="height: 48px">@speaker.Decription</p>
                                    <p class="card-price">Price: @speaker.Price Đ</p>
                                </div>

                                <div class="">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1"><i class="bi bi-cart3"></i></a>
                                    <a asp-controller="Store" asp-action="DetailSpeaker" asp-route-id="@speaker.Id" class="btn btn-primary shadow-0 me-1"><i class="bi bi-info-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- Repeat this card structure for more products -->
            </div>
        </main>
    </div>
</section>

